{% for event in events %}
    <div class="card card-clickable mt-2">
        <div class="card-body p-1">
            <div class="row">
                <div class="col-3 text-center my-auto lh-1">
                    {{ event.start.date|date:'j' }}
                    <br>
                    {{ event.start|date:'M' }}
                </div>
                <div class="col-5 my-auto">
                    {{ event.title }}
                </div>
                <div class="col-4 my-auto border-start border-1 border-secondary">
                    {{ event.start|date:'h:m' }} - {{ event.end|date:'h:m' }}
                </div>
            </div>
            <a class="stretched-link" href="{% url 'events:detail' event.uid %}"></a>
        </div>
    </div>
{% endfor %}