{% extends 'website/layout/base.html' %}
{% load markdown %}

{% block title %}News{% endblock %}

{% block content %}
    <h1>News</h1>
    <div class="row">
    {% for article in news %}
    <div class="col-lg-4 col-sm-6 col-12">
    <div class="card">
        <img class="card-img-top" src="{{ article.image.url }}" alt="{{ article.image.name }}" />
        <div class="card-body">
            <div class="card-title">
                <h3>{{ article.title }}</h3>
                {{ article.content|markdown|truncatechars_html:100|striptags }}
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="{% url 'news:article' article.id %}">Read more</a>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}