{% load static %}
<footer class="bg-dark text-white border-top border-3 border-primary py-3 mt-3">
    <div class="container text-center border-white text-white">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-10 d-flex justify-content-evenly">
                <a href="mailto:board@roundnet-enschede.nl"><i class="far fa-envelope"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
            </div>
        </div>
        Copyright &copy; 2021 - LEAP
    </div>
</footer>